<h2>Dashboard</h2>
<hr />

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Household Members
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 col-sm-6">
                            <div class="panel panel-default panel-stat1 bg-success">
                                <div class="panel-body">
                                    <div class="value">12</div>
                                    <div class="title">
                                        <span class="m-left-xs">Bookings</span>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /.col -->
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Household Members
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 col-sm-6">
                            <div class="panel panel-default panel-stat1 bg-success">
                                <div class="panel-body">
                                    <div class="value">12</div>
                                    <div class="title">
                                        <span class="m-left-xs">Bookings</span>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /.col -->
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
            <div class="col-md-4">
                @Html.Action("_AccountBal", "Accounts")
            </div>
        </div>
        <div class="row">
            <div class="recent-trans col-lg-12">
                @Html.Action("_TransIndex", "Transactions")
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Action("_AddTrans", "Transactions")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //$('buttonid').click(function()
        //$('#addTrans').load("/Transactions/_AddTrans/" + $(this).data('id'))
        $('#dataTable').DataTable({
            "order": [0, 'desc'],
            "lengthMenu": [[3, 6, 9, -1], [3, 6, 9, "All"]]
        });
    </script>
}
