
@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!-- About Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Budget Tracker</h2>
            </div>
            <div class="col-md-4">
                <img width="200" height="200" src="~/image/html.png" />
                <br />
                <p>I used HTML5, CSS3, and JavaScript to structure and style the front-end of my blog with help from a Bootstrap template.</p>
            </div>
            <div class="col-md-4">
                <img width="200" height="200" src="~/image/asp.jpg">
                <br />
                <p>An ASP.NET MVC project is the framework used to build, test, and publish the personal financial portal.</p>
            </div>
            <div class="col-md-4">
                <img width="180" height="200" src="~/image/clogo.png">
                <br />
                <p>C# is the object-oriented programming language used to structure and design this project.</p>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <p>You can check out my code on GitHub.</p>
                <a href="https://github.com/dpscinto/BudgetDS" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Dan Scinto</h2>
            <p>Feel free to email me to provide some feedback, suggestions, employment, or to just say hello!</p>
            <p>
                <a target="_blank" href="mailto:dpscinto@gmail.com">dpscinto@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a target="_blank" href="https://twitter.com/dpscinto" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/dpscinto" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/danielscinto" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <br />
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


